@media only screen and (max-width: 1200px) {
    .progmist__link {
        position: absolute; right: 860px; top: 670px;
    }
}


@media only screen and (max-width: 992px) {
    .progmist__link {
        position: absolute; right: 850px; top: 645px;
    }
}


@media only screen and (max-width: 768px) {
    .progmist__link {
        position: absolute; right: 820px; top: 1490px;
    }
}


@media only screen and (max-width: 576px) {
    
}


@media only screen and (max-width: 320px) {
    
}