/*адаптация под мобилы*/






body {
	margin: 0;
	font-family: 'Mochiy Pop P One', sans-serif;
	
	font-size: 15px;
	line-height: 1.6;
	color: #333;
}

*,
*:before,

*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/*Container*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/*Intro*/
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	
	background:
	url("../images/bunun.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.intro__2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	
	background:
	url("../images/home.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}



.intro__3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	
	background:
	url("../images/fonc4k.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}



.intro__4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	
	background:
	url("../images/mizunoscraft.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}



.intro__5 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	
	background:
	url("../images/domho.jfif") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}



.intro__6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	
	background:
	url("../images/Chezzz.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}



.intro__7 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	
	background:
	url("../images/desktopw.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}



.intro__8 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	
	background:
	url("../images/Bezz.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}



	
.intro__inner {
	weight: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
	color: rgb(255, 255, 255);
}




/* Header */
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.header__logo {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;
}


.nav {
	font-size: 14px;
	text-transform: uppercase;
	position: absolute; right: 10px; top: 10px;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;
	
	color: #ffffffce;
	text-decoration: none;
	
	transition: color .2s linear;

}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	
	background-color: rgb(250, 212, 142);
	opacity: 0;
	
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: opacity .2s linear;
}


.nav__link:hover {
	color: rgb(250, 212, 142);
}



.nav__link:hover:after {
	opacity: 1;
}



/*Button*/
.btn {
	display:inline-block;
	vertical-align: top;
	padding: 10px 15px;
	
	border: 3px solid rgb(255, 255, 255);
	
	font-size: 17px;
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	transition: opacity .2s linear;
}



.btn:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	opacity: 1;
}



/*Slider*/
.slider {
	display: flex;
}



.slider__item {
	weight: 24%;
}



.main {
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	color: white;
	text-shadow: black 2px 2px;
}



/*mine__hub*/
.mine__hub {
	position: absolute; right: 1170px; top: 10px;
}



/*soderj*/
.soderj {
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	font-weight: 700;
	color: white;
	text-shadow: black 2px 2px;
}



/*hondor*/
.hondor {
	font-size: 18px;
	text-shadow: black 3px 2px;
}



/*progmist*/
.progmist__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;
	
	color: #ffffffce;
	text-decoration: none;
	
	transition: color .2s linear;

	font-size: 20px;
	text-transform: uppercase;
	position: absolute; right: 1200px; top: 570px;
}

.progmist__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	
	background-color: rgb(250, 212, 142);
	opacity: 0;
	
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: opacity .2s linear;
}


.progmist__link:hover {
	color: rgb(250, 212, 142);
}



.progmist__link:hover:after {
	opacity: 1;
}



/*Rules*/
.rules {
	position: absolute; right: 1070px; top: 40px;
	text-align: left;
	margin: 15px;
	text-shadow: black 2px 2px;
}



.rules2 {
	position: absolute; right: 720px; top: 40px;
	text-align: left;
	margin: 15px;
	text-shadow: black 2px 2px;
}



.rules3 {
	position: absolute; right: 370px; top: 40px;
	text-align: left;
	margin: 15px;
	text-shadow: black 2px 2px;
}



.rules4 {
	position: absolute; right: 30px; top: 40px;
	text-align: left;
	margin: 15px;
	text-shadow: black 2px 2px;
}



.rules5 {
	position: absolute; right: 1120px; top: 650px;
	text-align: left;
	margin: 15px;
	text-shadow: black 2px 2px;
}



.rules6 {
	position: absolute; right: 750px; top: 650px;
	text-align: left;
	margin: 15px;
	text-shadow: black 2px 2px;
}



.rules7 {
	position: absolute; right: 370px; top: 650px;
	text-align: left;
	margin: 15px;
	text-shadow: black 2px 2px;
}



.rules8 {
	position: absolute; right: 40px; top: 650px;
	text-align: left;
	margin: 15px;
	text-shadow: black 2px 2px;
}



.rules9 {
	position: absolute; right: 1060px; top: 1250px;
	text-align: left;
	margin: 15px;
	text-shadow: black 2px 2px;
}



.rules10 {
	position: absolute; right: 500px; top: 1250px;
	text-align: left;
	margin: 15px;
	text-shadow: black 2px 2px;
}



.rules11 {
	position: absolute; right: 100px; top: 1250px;
	text-align: left;
	margin: 15px;
	text-shadow: black 2px 2px;
}



/*imgrules*/
.rules_img {
	width: 100%;
	height: 100%;
	background-image: url(C:\Users\Olga_пк\Desktop\Minecrafter\assets\imagesChezzz.png);
	background-size: 100% 100%;
	background-position: center;
}



.LolTwo {
	color: #e6e6fa;
	text-shadow: rgb(0, 0, 0) 3px 3px;
}



.Lol {
	color: #e66b6b;
	text-shadow: rgb(0, 0, 0) 3px 3px;
}